{% form_theme form '@IbexaFormBuilderBundle/form_themes/custom_form_theme.html.twig' %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}